
/* header */


.header-container{
    background-color:#e0d1e3;
    /* background-color: transparent; */
    /* position: absolute; */
    /* z-index: 100; */
    /* top: 0;
    left: 0;
    right: 0; */
    /* opacity: 0.5; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    color: white;
    /* background-color: transparent; */
    /* position: 'absolute */
    background-color: transparent;
    opacity: 0.9;
    background-image: url(../images/Hexagon.svg);

    /* zIndex: 100,
    top: 0,
    left: 0,
    right: 0 */
}

.header-container-left{
    justify-content: center;
    padding: 5px;
    margin-left: 40px;
    color: white;
    font-weight: bolder;
    font-size: 27px;
}

.header-container-right{
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: space-evenly;
    margin-right: 40px;
    font-size: 20px;
    /* font-style: white; */
}
.component{
    color: white;
    text-underline-offset:7px ;
}
.component:hover{
    transform: scale(0.95);
    color:rgb(248, 134, 78)
    
}

/* home */

.home-main-1{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    /* background-color:black; */
    background-image: url(../images/Hexagon.svg);
    background-attachment: fixed;
    /* padding:150px; */

    /* margin-top: -10px; */
}

.home-main-left1{
    justify-content: center;
    align-items: center;
    /* padding: 1000px; */
    padding: 70px;
    

    
}
.home-left1-heading{
    color: antiquewhite;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-left1-p{
    color: antiquewhite;
    font-size: 25px;
    /* font-weight: bold; */
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: justify;
    line-height: 40px;
}
.home-main-right1{
    justify-content: center;
    align-items: center;
}
.home-right-img{
    height: 650px;
    width: 650px;
}

.home-main-2{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    background-image: url(../images/Hexagon.svg);
    background-attachment: fixed;

    
}

.home-main-left2{
    justify-content: center;
    align-items: center;
    
}
.home-left1-heading{
    color: antiquewhite;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-left1-p{
    color: antiquewhite;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-left2-container{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 35px;
    align-items: center;
    justify-content: center;
margin-top: -100px;
/* background-color:red; */
}

.homeleft2{
    justify-content: center;
    padding: 20px;
    gap: 20px;

    font-size: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 70%; */
    /* background-color: yellow; */


}


.homeleft2-heading{
    align-items: center;
    color: antiquewhite;
    /* font-weight: bolder; */
    font-size: 55px;
    justify-content: center;
    text-align: center;
    /* background-color: yellow; */
    padding: 15px;
    margin-bottom: 10px;
}
.card{
    height: 100px;
    width: 250px;
    border-radius: 10px;
    background: transparent;

    /* background-color: transparent; */
    /* background-color: aqua; */
    border-color: white;
    border-width: 2px;

    border-style:solid;
    justify-content: center;
    /* align-items: center; */
    /* background-color: yellow; */
    text-align: center;
    /* gap: 30px; */
    padding: 30px;
}
.card:hover{
    transform: scale(1.01);
    color: rgb(183, 68, 68);
  box-shadow: 0 0 2px 2px #84adeb;
}

.icons{
    height: 100px;
    width: 100px;
    /* color: white; */
    /* background-color: transparent; */
}


.contact-container{
    /* background-color: red; */
    /* align-items: center; */
    text-align: center;
    padding: 10px;
    color: antiquewhite;
    /* gap: 10px; */
}

.conact-heading{
    font-size: 35px;
    /* font-weight: bold; */
    padding: 10px;
}
.contact-icon-container{
    /* gap: 10px; */
    justify-content: space-around;
    /* background-color: white; */
padding: 10px;
margin-bottom: -130px;

    
}
.contact-icon{
    padding: 20px;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    margin-top: 20px;
    border-width: 2px;
    margin-left: 20px;

}
.contact-icon:hover{
    transform: scale(1.01);
    /* color: rgb(183, 68, 68); */
  
    box-shadow: 0 0 5px 5px #84adeb;
  cursor: pointer;
}

/* Projects */

.project{
    height: 100%;
    background-image: url(../images/Hexagon.svg);
    background-attachment: fixed;
    
}
.project-card-main{
    display: flex;
    gap: 20px;

}
.project-heading{
    align-items: center;
    justify-content: center;
    padding: 20px;

    /* margin-top: 50px; */
    font-weight: bold;
    /* background-color: white; */
    font-size: 50px;
    text-align: center;
    font-family: serif;
    color: white;
}
.project-main{
    gap:20px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    margin-bottom: 50px;
    justify-content:space-around ;
}

.project-cards{
    /* background-color: #f0f55e; */
    background: transparent;
    
    height: 250px;
    width: 1100px;
    border-radius: 10px; 
    padding: 10px;
    align-items: center;
    justify-content: center;
    border: solid;
    /* border-radius: 2cm; */
    border-color: #84adeb;
    display: flex;
    justify-content:left ;




}

.project-cards:hover {
    transform: scale(1.01);
  box-shadow: 0 0 2px 2px #84adeb;
  /* opacity: 0.4; */


}
.project-cards-hide{
    background: transparent;
    margin-left: -445px;
    height: 565px;
    width: 400px;
    border-radius: 10px; 
    padding: 10px;
    align-items: center;
    justify-content: center;
    border: solid;
    /* border-radius: 2cm; */
    border-color: #84adeb;
    display: none;

}

.project-cards-img{
    /* padding-top: 56.25%; */
    width: 350px;
    padding: 20px;
    height: 230px;
    padding:10px;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    /* background-color: aqua; */
}
.card-right{
    display:block;
}
.card-heading{
    font-family: serif;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}

.card-p{
    padding: 10px;
    text-align: justify;
    color: white;
}
.project-card-icons-container{
    /* padding: 10px; */
    /* position: absolute; */
    /* bottom: 0; */
    /* padding: -10px; */
    /* margin-bottom: 40px; */
    /* background-color: red; */
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 400px;
    height: 40px;
    gap : 20px;
    align-items: center;
    display: flex;

}
.project-card-icons{
    width: 20px;
    height: 20px;
}

.resume-pdf{
    height: 90vh;
    width: 70%;
}
.resume-container{
        justify-content: center;
    align-items: center;
    display: flex;
    height: 87vh;
    /* justify-content: space-around; */
    /* background-color:black; */
    background-image: url(../images/Hexagon.svg);
    background-attachment: fixed;
}
.resume-main{
    height: 70%;
    width: 30%;
    border-radius: 20px ;   
    background-color: rgb(31, 193, 242);
    border: solid 7px white;
    background-size: 500px;
    /* margin-top: 20px; */
    background-position: 500px;
    /* background-image: url(../images/resume.svg); */
     
    /* background-position: bottom 50px right 100px; */


}
.resume-heading{
    height: 60px;
    padding: 20px;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: dotted 5px yellow;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.resume-button{
    padding: 10px;
    height: 410px;
    border-radius: 20px;
    align-items: center;
    /* background-color: #809090; */
    /* margin-top: 150px; */
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.resume-download-button{
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    /* margin-top: 100px; */
}
.resume-download-button:hover{
    background-color: rgb(144, 223, 144);
    cursor: pointer;
    transform: scale(1.05);
    /* color: rgb(183, 68, 68); */
  box-shadow: 0 0 5px 5px #84adeb;

}
.resume-download-button::after{
    background-color: yellow;
}
.footer-container{
    background-color: transparent;
    opacity: 0.9;
    background-color:#e0d1e3;
    /* height: 90px; */
    background-image: url(../images/Hexagon.svg);

    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */


}
.footer-left{
    padding: 7px;
    color: antiquewhite;
    margin-left: 30px;
}
.footer-icon-container{
    display: flex;
    gap: 15px;
    margin-right: 30px;

}
.footer-icon{
    padding: 7px;
    height: 30px;
    width: 30px;
    cursor: pointer;
 
    /* padding: 10px; */
    /* background-color: white; */
    /* border-radius: 50%; */
    /* margin-top: 20px; */
    /* border-width: 2px; */

}